<% provide(:title, "Home") %>

<div class="row" style="background-color: grey; color: white">
  <div class="col-xs-12">
    <h1>Welcome to Noir.</h1>
    <p>A featured product will go here... when I get around to it...</p>
    <p><span class="label label-warning">TODO</span></p>
  </div>
</div>

<!-- Popular section -->
<div class="row">
  <div class="col-xs-12">
    <h2>Popular</h2><span class="label label-warning">TODO</span>
  </div>
  <div class="col-xs-6">
    <h4>I am a placeholder.</h4>
    <p>Looks like I still have some work to do...</p>
  </div>
  <div class="col-xs-6">
    <h4>I am a placeholder.</h4>
    <p>Looks like I still have some work to do...</p>
  </div>
</div>

<!-- Collections section -->
<div class="row">
  <hr>
  <div class="col-xs-12">
    <h2>Collections</h2>
  </div>
</div>

<% Collection.all.each do |collection| %>
  <div class="row">
    <div class="col-xs-12 collection-popout">
      <h4><%= link_to collection.name, controller: 'collections', action: 'show', id: collection.id %></h4>
    <p><%= collection.items.count %> items</p>
  </div>
  </div>
<% end %>

<!-- Newsletter section -->
<div class="row">
  <div class="col-md-6">
    <h2>Newsletter</h2>
    <p>Sign up to our newsletter</p>
    <%= form_tag action: 'new', controller: 'newsletter_recipients' do %>
      <%= text_field_tag 'email_address', @email, placeholder: 'Enter your email address here', class: 'form-control', style: 'margin-bottom: 15px' %>
      <%= submit_tag 'Sign up', class: 'btn btn-primary', style: 'margin-bottom: 15px' %>
    <% end %>
  </div>
</div>