<% provide(:title, "Home") %>

<div class="row" style="background-color: grey; color: white">
  <div class="col-xs-12">
    <h1>Welcome to Noir.</h1>
    <p>A featured product will go here... when I get around to it...</p>
    <p><span class="label label-warning">TODO</span></p>
  </div>
</div>

<!-- Popular section -->
<div class="row">
  <div class="col-xs-12">
    <h2>Popular</h2>
  </div>
</div>
<div class="row">
  <% most_popular_items(2).each do |item| %>
    <div class="col-xs-6">
      <%= image_tag item.photos.first.address, width: 150 %>
      <h4><%= item.name %></h4>
      <p>$<%= item.price %></p>  
    </div>
  <% end %>
</div>

<!-- Collections section -->
<div class="row">
  <hr>
  <div class="col-xs-12">
    <h2>Collections</h2>
  </div>
</div>

<% Collection.all.each do |collection| %>
  <div class="row">
    <div class="col-xs-12 collection-popout black-links">
      <h4><%= link_to collection.name, controller: 'collections', action: 'show', id: collection.id %></h4>
    <p><%= collection.items.count %> items</p>
  </div>
  </div>
<% end %>

<!-- Newsletter section -->
<div class="row">
  <div class="col-md-6">
    <h2>Newsletter</h2>
    <p>Sign up to our newsletter</p>
    <%= form_tag action: 'new', controller: 'newsletter_recipients' do %>
      <%= text_field_tag 'email_address', @email, placeholder: 'Enter your email address here', class: 'form-control', style: 'margin-bottom: 15px' %>
      <%= submit_tag 'Sign up', class: 'btn btn-primary', style: 'margin-bottom: 15px' %>
    <% end %>
  </div>
</div>