<% provide(:title, @item.name) %>

<%= image_tag @first_photo.address, height: 200 %>

<h1><%= @item.name %></h1>
<h4><span class="label label-primary"><%= @item.popularity %></span></h4>
<p><%= @item.description %></p>
<p>$<%= @item.price %></p>
