<% provide(:title, @item.name) %>

<%= image_tag @first_photo.address, height: 200 %>

<h1><%= @item.name %></h1>
<p>$<%= @item.price %></p>
<h4><span class="label label-default">Popularity: <%= @item.popularity %></span></h4>
<p><%= @item.description %></p>
<hr>

<!-- Size/colour/quantity selectors-->
<div class="row">
  <div class="col-xs-4">
    
  </div>
</div>

<%= form_tag action: 'add_to_bag', controller: 'items' do %>
  <div class="row">
    <div class="col-xs-4">
      <%= select_tag "Size", options_for_select(%w[S M L XL], "M"), class: "form-control", style: "margin-bottom: 15px;" %>
    </div>
    <div class="col-xs-4">
      <%= select_tag "Colour", options_for_select(%w[Black Very\ Dark\ Grey Dark\ Grey], "Black"), class: "form-control", style: "margin-bottom: 15px;" %>
    </div>
    <div class="col-xs-4">
      <%= select_tag "Quantity", options_for_select(%w[1 2 3 4 5 6 7 8], "1"), class: "form-control", style: "margin-bottom: 15px;" %>
    </div>
  </div>
  <%= submit_tag 'Add to Bag', class: 'btn btn-primary', style: 'margin-bottom: 15px' %>
<% end %>